<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="VoteR">
<head>
    <meta charset="utf-8" />
    <title>VoteR</title>
    <link type="text/css" rel="stylesheet" href="/public/bootstrap/dist/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="/public/toastr/toastr.min.css" />
    <link type="text/css" rel="stylesheet" href="/css/site.css" />
    <base href="/#"/>
</head>
<body>
<div class="row well">
    <div class="navbar-brand"><a href="#/">VoteR</a></div>
    <div class="text-right">
        
    </div>
</div>
    <div id="body" class="container">
        {{{body}}}
    </div>
    <script src="/public/jquery/dist/jquery.min.js"></script>
    <script src="/public/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/public/toastr/toastr.min.js"></script>
    <script src="/lib/bundle.js"></script>
</body>
</html>